
.video-player{
    position: relative;
  }
  
.video-player::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top: 0;
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    pointer-events: none; /* Ensure clicks pass through to the video element */
}
.mute-toggle{
    position:absolute;
    bottom:14rem;
    left: 70rem;
}
.subscribe{
    background-color: rgba(255, 255, 255, 0.295);
    position:absolute;
    top:28rem;
    width: 22rem;
}

.plus{
    position:absolute;
    top:28rem;
    left: 30rem;
    background-color: rgba(255, 255, 255, 0.295);
}

.plus:hover::after{
    content: "Watchlist";
    position: absolute;
    bottom: 60px;
    left: 10px;
    font-weight: lighter;
    font-size:medium;
    background: #0000008f;
    padding: 5px;
    border-radius: 5px;
}

.crm{
    position: absolute;
    top:21rem;
    }

.component{
    position:absolute;
    top:28.5rem;
    left: 47rem;
}
/* 
@media screen and (max-width: 768px) {
    .subscribe,
    .plus {
        position: static; 
        width: auto;
        margin-left: 6rem;
    }

    .play{
        display: none;
    }

} */


/* @media screen and (max-width: 400px) {
    .video-player::after {
      display: none; 
      width: auto;
    }

    .component {
      display: none;
    }
  
    .home-img{
        display: none;
    }
    .home-ul {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0%; 
    padding: 1rem; 
    box-sizing: border-box;
    width: 5%;

  }
} */

/* @media screen and (max-width: 400px) {
    .home-img{
        position: absolute;
        left:28px;
        top: 10px;
        display: hidden;
    }
} */
