
.video-player{
    position: relative;
  }
  
.video-player::after {
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top: 0;
    background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    pointer-events: none; /* Ensure clicks pass through to the video element */
}
.mute-toggle{
    position:absolute;
    bottom:14rem;
    left: 70rem;
}
.subscribe{
    background-color: rgba(255, 255, 255, 0.295);
    position:absolute;
    top:28rem;
    width: 22rem;
}

.plus{
    position:absolute;
    top:28rem;
    left: 30rem;
    background-color: rgba(255, 255, 255, 0.295);
}

.plus:hover::after{
    content: "Watchlist";
    position: absolute;
    bottom: 60px;
    left: 10px;
    font-weight: lighter;
    font-size:medium;
    background: #0000008f;
    padding: 5px;
    border-radius: 5px;
}

.crm{
    position: absolute;
    top:21rem;
    }

.component{
    position:absolute;
    top:28.5rem;
    left: 47rem;
}

@media screen and (max-width: 768px) {
    .subscribe,
    .plus {
        position: static; 
        width: auto;
        margin-left: 6rem;
    }

    .play{
        display: none;
    }

}

/* @media (max-width: 768px){
    .subscribe,
    .plus {
        position: static; 
        width: auto;
        left: 10%;
    }
} */

@media screen and (max-width: 400px) {
    .video-player::after {
      display: none; /* Hide gradient overlay at smaller widths */
      width: auto;
    }
  
    .component {
      display: none; /* Hide the component containing the image */
    }
  
    .home-img{
        display: none;
    }
    ul {
     position: absolute; /* Set position to absolute */
    top: 0; /* Position ul at the top */
    left: 0; /* Align left */
    width: 100%; /* Make ul full width */
    padding: 1rem; /* Add padding for better spacing */
    box-sizing: border-box; /* Include padding in width calculation */
    }

  }