.subscribe{
    background-color: rgba(255, 255, 255, 0.295);
    position:absolute;
    top:24rem;
    width: 20rem;
}

.plus{
    position:absolute;
    top:24rem;
    left: 28rem;
    background-color: rgba(255, 255, 255, 0.295);
}

.crm{
    position: absolute;
    top:21rem;
    }