 .movies-container {
  position: relative;
  bottom: 200px;
  left: 7rem;
  width: 100%;
}

.movie-slide {
  position: relative;
  left: -54px;
}

.movie-details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.movie-slide:hover .movie-details {
  display: block;
 
}

.movie-slide:hover img {
  opacity: 1;
} 

.movie-poster{
  width: 100%;
  object-fit: cover;
}

.arrow{
  right: 7rem;
} 

/* @media (max-width: 768px) {
  .movies-container {
    left: 0;
    bottom: 0;
    padding: 0 1rem;
  }

  .movie-slide {
    left: 0;
  }

  .arrow {
    right: 0;
  }
} */

